html(lang="en")
    head
        meta(charset="UTF-8")
        title Exercise Tracker
        link(rel="stylesheet", type="text/css", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/static/style.css")

    body
        block content
    footer
        div(class="container")
            a(href="https://www.freecodecamp.org/portfolio/yavuzovski" target="_blank" rel="noopener noreferrer") @yavuzovski |
            a(href="https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/exercise-tracker/" target="_blank" rel="noopener noreferrer")  Challange Link |
            a(href="https://github.com/yavuzovski/exercise-tracker" target="_blank" rel="noopener noreferrer")  Github
